.footer-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #181929;
  margin-top: 4rem;
  padding: 3rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

.footer-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.footer-icon svg {
  font-size: 24px;
}

Footer > span,
footer > p,
.footer-links > span {
  color: white;
}

.footer-links span {
  margin-right: 1.5rem;
  gap: 1.5rem;
  cursor: pointer;
  font-size: 25px;
}

.footer-links span:hover {
  color: #3b3eee;
}

/* ---------------Media Queries -------------- */

@media screen and (max-width: 768px) {
  .footer-box {
    flex-direction: column;
    text-align: center;
    gap: 1.5rem;
    padding: 2rem;
  }

  .footer-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
  }
}
