.Hero-container {
  width: 100%;
  box-sizing: border-box;
  padding-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 80px;
  margin: 0.6rem 0;
  background-color: #e6edff;
}

.Hero-div {
  padding: 1rem 2rem;
  width: auto;
  flex: 1;
}

.Hero-div h1 {
  font-size: 4rem;
  line-height: 1;
  font-weight: 550;
}

.Hero-image {
  /* display: flex;
  align-items: center;
  justify-content: center; */
  flex: 1;
}

.Hero-image img {
  max-width: 100%;
  width: 100%;
  object-fit: contain;
  display: flex;
  height: 100%;
}
