.navbar-box {
  margin: 0.5rem 2rem -1rem 2rem;
  width: auto;
  padding: 10px 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Logo-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 24px;
}

.logo-icon {
  background-color: #3b3eee;
  border-radius: 7px;
  margin-right: 0.5rem;
  display: block;
  cursor: pointer;
}

.logo-icon svg {
  display: block;
  padding: 0.5rem;
  color: white;
}

.logo-text {
  font-weight: bold;
}

.nav-links {
  list-style: none;
}

.nav-links li {
  cursor: pointer;
  display: inline;
  margin-left: 20px;
  padding-right: 0.5rem;
}

.burgerMenu {
  cursor: pointer;
  display: none;
}

/* ---------------Media queries------------- */

@media screen and (max-width: 768px) {
  .navbar-box {
    flex-direction: row;
    align-items: center;
    position: relative;
  }

  .Logo-box {
    font-size: 24px;
  }

  .nav-links {
    margin-top: -2px;
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
    max-width: 320px;
    background-color: #e6edff;
    padding: 1.5rem;
    box-shadow: 0 4px 6px rgba(59, 62, 238, 0.1);
    border-radius: 0 0 8px 0;
    display: none;
    flex-direction: column;
  }

  .nav-links.open {
    display: flex;
  }

  .nav-links li {
    display: block;
    font-size: 18px;
    margin: 2rem 0;
    padding: 0.5rem auto;
    text-align: center;
    cursor: pointer;
  }

  .logo-icon {
    margin-left: -20px;
  }

  .burgerMenu {
    display: block;
    z-index: 10;
    font-size: 24px;
    margin-left: 4rem;
  }

  .burgerMenu .closeBtn {
    font-size: 24px;
    cursor: pointer;
    display: none;
  }

  .burgerMenu .openBtn {
    cursor: pointer;
  }

  .nav-links.open + .burgerMenu .openBtn {
    display: none;
  }
}
