.Services-container {
  margin: 0.7rem auto;
  width: 100%;
  box-sizing: border-box;
}

.service-box {
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 70%;
  flex-direction: column;
}

.service-box h2 {
  font-weight: 550;
  font-size: 40px;
  margin-bottom: 0;
}

.service-box p {
  font-size: 18px;
  text-align: center;
  width: 60%;
}

.service-cards {
  margin: 1.5rem auto;
  display: flex;
  align-items: stretch;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 1.5rem;
  width: 80%;
}

.fast-card,
.security-card,
.design-card {
  border: 1px solid #ddd;
  margin: auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.8rem 1rem;
  width: 400px;
  box-shadow: 0 6px 28px rgba(195, 195, 206, 0.4);
}

.fast-card:hover,
.security-card:hover,
.design-card:hover {
  box-shadow: 0 8px 32px rgba(120, 120, 122, 0.4);
  transform: translateY(-5px);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.fast-card p,
.security-card p,
.design-card p {
  padding: 0 1.2rem 1.5rem 1.2rem;
  margin: 0 auto;
  color: #555555;
  font-size: 14px;
}

/* ---------------Media queries------------- */
@media screen and (max-width: 768px) {
  .service-box {
    padding: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 100%;
  }

  .service-box h2 {
    font-weight: bold;
    font-size: 35px;
  }

  .service-box p {
    font-size: 20px;
    text-align: center;
    width: 90%;
    margin: 15px auto;
    padding: 0 10px;
  }

  .service-cards {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: none;
    gap: 1.5rem;
    width: 100%;
    margin: 2rem auto;
  }

  .fast-card,
  .security-card,
  .design-card {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 300px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 0;
  }
  .fast-card svg,
  .security-card svg,
  .design-card svg {
    width: 20px;
    height: 20px;
    margin: 1rem auto;
    margin-bottom: 0;
  }

  .fast-card h3,
  .security-card h3,
  .design-card h3 {
    font-size: 22px;
    margin: 0 auto;
  }
  .fast-card p,
  .security-card p,
  .design-card p {
    padding: 1rem;
  }
}
